<nav class="nav-links">
    <NavLink href="" Match="NavLinkMatch.All">
        <span>Übersicht</span>
    </NavLink>
    <NavLink href="history">
        <span>Verlauf</span>
    </NavLink>
    <NavLink href="settings">
        <span>Einstellungen</span>
    </NavLink>
</nav>
